vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|msiis
vti_defaultlanguage:SR|es
vti_timecreated:TR|27 Sep 2008 02:06:59 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.6790
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_textindexood:IR|0
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Atrás
vti_navbuttonnextlabel:SR|Siguiente
vti_structfrom_localhost\\f\:\\documents and settings\\rafa\\mis documentos\\mis sitios web\\misitio/f\:/documents and settings/rafa/mis documentos/mis sitios web/misitio:TR|29 Sep 2008 17:46:35 -0000
vti_approvallevels:VR|Approved Denied Pending\\ Review Aprobado Denegado Revisión\\ pendiente
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
vti_navbuttonhomelabel:SR|Principal
vti_showhiddenpages:IR|1
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerIndexServer vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule Viaje Agenda Informe\\ de\\ gastos Metas\\ y\\ objetivos Esperando Planeación Negocio Competición En\\ proceso Varios
vti_approvalapproved:SR|Aprobado
vti_approvaldenied:SR|Denegado
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Arriba
